<h1 class="pagetitle">Merve's awesome Thermostat, now in SINATRA</h1>

<!-- <section>
  <h1>Temperature in
  <select id="current-city">
    <option value="london">London</option>
    <option value="newyork">New York</option>
    <option value="paris">Paris</option>
    <option value="tokyo">Tokyo</option>
  </select>is: <span id="current-temperature"> 20</span></h1>
</section> -->
<div class="container">
<section class="left">
<p>
  <h1 id="temperature"></h1>
  <button id='increase'>+</button>
  <button id='decrease'>-</button>
  <button id='reset'>Reset</button>
  <h3> Power Save Mode is: <span id='powersaving'>On</span></h3>
  <button id='powerSave'>Power Save</button>
</p>
</section>
<section class='right'>
<img src="src/img/degrees.png"/>
</section>
</div>
