<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <link rel='stylesheet' type='text/css' href='src/css/style.css'>
  </head>
  <body>


    <%= yield %>

    <script src="src/js/jquery-3.0.0.min.js"></script>
    <script src='src/js/Thermostat.js'></script>
    <script src='src/js/interface.js'></script>
  </body>
</html>
